# PES University, Bangalore
Established under Karnataka Act No. 16 of 2013

## UE22AM343AB4 - Advanced Data Analytics 

Designed by Nischal H S

### Student Details
- Name : **Student Name**
- SRN : **SRN**

# ADA Worksheet Part B

## Adult Census Income Cleaning and Analysis

### Introduction

As a data scientist intern at the U.S. Census Bureau, you've been assigned to clean and analyze the Adult Census Income dataset. Your task is to prepare the data for a machine learning model that will predict whether an individual's annual income exceeds $50,000. This analysis will inform government policies on education, employment, and economic development.
The dataset contains various demographic and socioeconomic factors, but it requires careful preprocessing to ensure accurate results. Your work will involve handling missing data, encoding categorical variables, and performing exploratory data analysis.

First, let's import some of the necessary libraries and load the data.

In [ ]:
# might make it easier to install the packages directly to ipynb kernel for this to work, so please run this
%pip install pandas numpy matplotlib seaborn scikit-learn scipy imbalanced-learn

In [76]:
# Note: This assignment might need you to look up syntax, parameters, functions a lot for some libraries, so I am linking the documentation. Most of these should have a search bar to find what you're looking for.
# pandas: https://pandas.pydata.org/docs/user_guide/index.html
# numpy: https://numpy.org/doc/stable/user/index.html
# matplotlib: https://matplotlib.org/stable/contents.html
# seaborn: https://seaborn.pydata.org/tutorial.html




import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
column_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

# TODO: Load the data into a pandas DataFrame named 'df'
# Hint: Use pd.read_csv() with the url and column_names

df = pd.read_csv(url, names=column_names, sep=",\s", na_values=["?"], engine="python")
# Display the first few rows and basic information about the dataset

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [37]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## Question 1: Missing Values

Examine the dataset for missing values. In this dataset, missing values are represented as "?".

a) How many missing values are there in each column?

b) What percentage of the dataset is missing?

In [38]:
# TODO: Count the number of missing values in each column
# Hint: Use df.isin() with the right parameter
df.isna().sum() / len(df) * 100
# TODO: Calculate the percentage of missing values in the entire dataset

age               0.000000
workclass         5.638647
fnlwgt            0.000000
education         0.000000
education-num     0.000000
marital-status    0.000000
occupation        5.660146
relationship      0.000000
race              0.000000
sex               0.000000
capital-gain      0.000000
capital-loss      0.000000
hours-per-week    0.000000
native-country    1.790486
income            0.000000
dtype: float64

## Question 2: Handling Missing Values

Choose an appropriate strategy to handle missing values in the 'workclass' and 'occupation' columns.

a) Explain your chosen strategy and why you think it's appropriate.

b) Implement your strategy.

In [42]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
a = df[['race', 'native-country']]
for i in a.value_counts().items():
    print(i)

(('White', 'United-States'), 25621)
(('Black', 'United-States'), 2832)
(('White', 'Mexico'), 590)
(('Amer-Indian-Eskimo', 'United-States'), 296)
(('Asian-Pac-Islander', 'United-States'), 292)
(('Asian-Pac-Islander', 'Philippines'), 188)
(('Other', 'United-States'), 129)
(('White', 'Germany'), 124)
(('White', 'Canada'), 119)
(('White', 'El-Salvador'), 101)
(('White', 'Cuba'), 90)
(('Asian-Pac-Islander', 'India'), 85)
(('White', 'Puerto-Rico'), 82)
(('White', 'England'), 81)
(('Asian-Pac-Islander', 'South'), 77)
(('Black', 'Jamaica'), 75)
(('Asian-Pac-Islander', 'China'), 73)
(('White', 'Italy'), 73)
(('Asian-Pac-Islander', 'Vietnam'), 65)
(('White', 'Guatemala'), 60)
(('White', 'Poland'), 59)
(('White', 'Columbia'), 51)
(('Asian-Pac-Islander', 'Taiwan'), 48)
(('Black', 'Haiti'), 43)
(('Other', 'Mexico'), 40)
(('White', 'Dominican-Republic'), 39)
(('Asian-Pac-Islander', 'Japan'), 38)
(('White', 'Portugal'), 36)
(('White', 'Iran'), 35)
(('White', 'Peru'), 30)
(('White', 'France'), 28)
(('White', 'Nicaragua'), 28)
(('White', 'Greece'), 28)
(('White', 'Ireland'), 23)
(('Other', 'Puerto-Rico'), 21)
(('White', 'Ecuador'), 19)
(('White', 'Japan'), 19)
(('Asian-Pac-Islander', 'Laos'), 18)
(('Asian-Pac-Islander', 'Cambodia'), 18)
(('Other', 'Dominican-Republic'), 18)
(('Asian-Pac-Islander', 'Hong'), 17)
(('Asian-Pac-Islander', 'Thailand'), 16)
(('Black', 'Trinadad&Tobago'), 16)
(('White', 'Yugoslavia'), 16)
(('White', 'Hungary'), 13)
(('White', 'Scotland'), 12)
(('White', 'Honduras'), 12)
(('Black', 'Dominican-Republic'), 12)
(('Other', 'Ecuador'), 9)
(('Black', 'Puerto-Rico'), 9)
(('Black', 'Germany'), 8)
(('White', 'India'), 8)
(('White', 'Outlying-US(Guam-USVI-etc)'), 8)
(('Black', 'England'), 8)
(('Amer-Indian-Eskimo', 'Mexico'), 8)
(('White', 'Philippines'), 8)
(('Other', 'Columbia'), 7)
(('Asian-Pac-Islander', 'Iran'), 6)
(('Black', 'Outlying-US(Guam-USVI-etc)'), 6)
(('Other', 'India'), 5)
(('White', 'Jamaica'), 5)
(('Other', 'El-Salvador'), 4)
(('Other', 'Guatemala'), 4)
(('Other', 'Nicaragua'), 4)
(('Black', 'Mexico'), 4)
(('Asian-Pac-Islander', 'Germany'), 3)
(('Black', 'Japan'), 3)
(('Black', 'Cuba'), 3)
(('White', 'Hong'), 2)
(('White', 'Taiwan'), 2)
(('White', 'Thailand'), 2)
(('White', 'Vietnam'), 2)
(('Other', 'Cuba'), 2)
(('White', 'China'), 2)
(('Black', 'Nicaragua'), 2)
(('Asian-Pac-Islander', 'Trinadad&Tobago'), 2)
(('Other', 'Japan'), 2)
(('Other', 'Iran'), 2)
(('Amer-Indian-Eskimo', 'South'), 2)
(('Black', 'India'), 2)
(('Asian-Pac-Islander', 'Mexico'), 1)
(('Asian-Pac-Islander', 'Ireland'), 1)
(('Asian-Pac-Islander', 'Haiti'), 1)
(('Asian-Pac-Islander', 'Greece'), 1)
(('Asian-Pac-Islander', 'Dominican-Republic'), 1)
(('Asian-Pac-Islander', 'England'), 1)
(('Asian-Pac-Islander', 'Portugal'), 1)
(('Asian-Pac-Islander', 'Canada'), 1)
(('White', 'South'), 1)
(('Amer-Indian-Eskimo', 'Puerto-Rico'), 1)
(('Amer-Indian-Eskimo', 'Philippines'), 1)
(('Amer-Indian-Eskimo', 'Hong'), 1)
(('Asian-Pac-Islander', 'Poland'), 1)
(('Black', 'Cambodia'), 1)
(('Asian-Pac-Islander', 'Puerto-Rico'), 1)
(('Other', 'Trinadad&Tobago'), 1)
(('Black', 'El-Salvador'), 1)
(('Black', 'France'), 1)
(('Black', 'Honduras'), 1)
(('Black', 'Philippines'), 1)
(('White', 'Holand-Netherlands'), 1)
(('Other', 'Canada'), 1)
(('Amer-Indian-Eskimo', 'Germany'), 1)
(('Other', 'Germany'), 1)
(('Other', 'Jamaica'), 1)
(('Other', 'Peru'), 1)
(('Other', 'Taiwan'), 1)
(('Amer-Indian-Eskimo', 'Columbia'), 1)

In [44]:
occupation_dict = {}
a = df[["occupation", "education"]]
for i in list(a.value_counts().items()):
    if i[0][1] not in occupation_dict:
        occupation_dict[i[0][1]] = i[0][0]
occupation_dict

{'HS-grad': 'Craft-repair',
 'Bachelors': 'Prof-specialty',
 'Some-college': 'Adm-clerical',
 'Masters': 'Prof-specialty',
 'Prof-school': 'Prof-specialty',
 'Doctorate': 'Prof-specialty',
 'Assoc-voc': 'Craft-repair',
 '11th': 'Other-service',
 '10th': 'Other-service',
 'Assoc-acdm': 'Adm-clerical',
 '7th-8th': 'Craft-repair',
 '9th': 'Other-service',
 '12th': 'Other-service',
 '5th-6th': 'Other-service',
 '1st-4th': 'Other-service',
 'Preschool': 'Other-service'}

In [45]:
workclass_dict = {}
a = df[["workclass", "occupation"]]
for i in list(a.value_counts().items()):
    if i[0][1] not in workclass_dict:
        workclass_dict[i[0][1]] = i[0][0]
workclass_dict

{'Craft-repair': 'Private',
 'Sales': 'Private',
 'Adm-clerical': 'Private',
 'Other-service': 'Private',
 'Exec-managerial': 'Private',
 'Prof-specialty': 'Private',
 'Machine-op-inspct': 'Private',
 'Handlers-cleaners': 'Private',
 'Transport-moving': 'Private',
 'Tech-support': 'Private',
 'Farming-fishing': 'Private',
 'Protective-serv': 'Local-gov',
 'Priv-house-serv': 'Private',
 'Armed-Forces': 'Federal-gov'}

In [77]:
# TODO: Implement your chosen strategy for handling missing values
# This might involve imputation, removal, or other techniques. Think carefully about the type of missingness and how it should be handled

import pandas as pd


def handle_missing_workclass(df):
    """
    Handle missing values in the 'workclass' column.
    """
    df["workclass"] = df.apply(
        lambda row: (
            "Other"
            if pd.isnull(row["workclass"]) and pd.isnull(row["occupation"])
            else (
                workclass_dict[row["occupation"]]
                if pd.isnull(row["workclass"])
                else row["workclass"]
            )
        ),
        axis=1,
    )
    return df


def handle_missing_occupation(df):
    """
    Handle missing values in the 'occupation' column.
    """
    df["occupation"] = df.apply(
        lambda row: (
            occupation_dict[row["education"]] if pd.isnull(row["occupation"]) else row["occupation"]
        ),
        axis=1
    )
    return df


def handle_missing_native_country(df):
    """
    Handle missing values in the 'native-country' column.
    """
    df["native-country"].fillna("United-States", inplace=True)
    return df


# Call the functions to update the DataFrame
df = handle_missing_workclass(df)
df = handle_missing_occupation(df)
df = handle_missing_native_country(df)
df.isna().sum()
# Hint: You could use the mode() method to impute missing values
# Can you go one step ahead and consider the other columns before deciding what value to impute in a row?

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

## Question 3: Categorical Variables

Identify all categorical variables in the dataset.

a) List the categorical variables and their unique values.

b) Are there any categorical variables that have an unusually high number of categories? How might you handle this?

In [56]:
# TODO: Identify and list categorical variables
# Hint: Use the select_dtypes() method to identify columns with object dtype
categorical = df.select_dtypes(include=["object"]).columns
categorical
# TODO: Display unique values for each categorical variable
# Hint: You can use the unique() method to get the unique values for each column

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'income'],
      dtype='object')

In [58]:
df[categorical].nunique()

workclass          9
education         16
marital-status     7
occupation        14
relationship       6
race               5
sex                2
native-country    41
income             2
dtype: int64

Native country has very high number of values, we can encode the frequency of the values to show how import they are

## Question 4: Encoding Categorical Variables

Choose appropriate encoding techniques for the categorical variables. You may use different techniques for different variables based on their characteristics.

a) Explain your choice of encoding technique for each categorical variable.

b) Implement the encoding.

In [80]:
# TODO: Implement encoding for categorical variables
# This might involve one-hot encoding, label encoding, or other techniques
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

def encode_binary_categorical(df, columns):
    """
    Encode a binary categorical variable using label encoding.
    """
    # Hint: Use the LabelEncoder class from sklearn.preprocessing
    encoder = LabelEncoder()
    for column in columns:
        df[column] = encoder.fit_transform(df[column])
    return df

def encode_multi_categorical(df, columns):
    """
    Encode multi-class categorical variables using one-hot encoding.
    """
    # Hint: Use the OneHotEncoder class from sklearn.preprocessing
    encoder = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity
    encoded_columns = encoder.fit_transform(df[columns])
    encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(columns))
    df = df.drop(columns, axis=1)
    df = pd.concat([df, encoded_df], axis=1)
    return df

def frequency_encoding(df, columns):
    """
    Encode multi-class categorical
    """
    for column in columns:
        freq = df[column].value_counts(normalize=True)
        df[column] = df[column].map(freq)
    return df

df = encode_binary_categorical(df, ["sex", "income"])
df = encode_multi_categorical(df, ["workclass", "marital-status", "relationship"])
df = frequency_encoding(df, ["education", "occupation", "native-country"])
df

,age,fnlwgt,education,education-num,occupation,race,sex,capital-gain,capital-loss,hours-per-week,...,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,39,77516,0.164461,13,0.133073,White,1,2174,0,40,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,50,83311,0.164461,13,0.124873,White,1,0,0,13,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38,215646,0.322502,9,0.042075,White,1,0,0,40,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,53,234721,0.036086,7,0.042075,Black,1,0,0,40,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,338409,0.164461,13,0.134947,Black,0,0,0,40,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,0.032769,12,0.028500,White,0,0,0,38,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
32557,40,154374,0.322502,9,0.061485,White,1,0,0,40,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32558,58,151910,0.322502,9,0.133073,White,0,0,0,40,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
32559,22,201490,0.322502,9,0.133073,White,1,0,0,20,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,52,287927,0.322502,9,0.124873,White,0,15024,0,40,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Question 5: Numerical Variables

Analyze the numerical variables in the dataset.

a) Create histograms for each numerical variable.

b) Identify any variables that appear to be skewed. How might you handle this skewness?

In [ ]:
# TODO: Create histograms for numerical variables
# Hint: Use the histplot() function from the seaborn library

# TODO: Identify skewed variables and suggest transformations
# Hint: You can use the skew() method to identify skewed variables
# For transformations, you could consider using the np.log1p() function
# Verify the effectiveness of your transformation

def transform_skewed_variables(df, skewed_vars):
    """
    Apply transformation to skewed numerical variables.
    """
    pass

## Question 6: Outlier Detection

Implement a method to detect outliers in the 'capital-gain' and 'capital-loss' columns.

a) What method did you choose and why?
b) How many outliers did you detect?
c) Propose a strategy for handling these outliers.

In [ ]:
# TODO: Implement outlier detection for 'capital-gain' and 'capital-loss'
# Hint: Use the zscore() function from the scipy.stats module to detect outliers

# TODO: Visualize outliers
# Hint: A certain kind of plot is usually used to visualise outliers. Use the seaborn library

def handle_outliers(df, columns, quantile=0.95):
    """
    Handle outliers using winsorization.
    """
    # Hint: Use the np.where() function to apply the winsorization
    pass

## Question 7: Correlation Analysis

Perform a correlation analysis on the numerical variables.

a) Create a heatmap of the correlation matrix.

b) Identify any highly correlated pairs of features. How might this impact a machine learning model?

In [ ]:
# TODO: Compute correlation matrix
# Hint: Use the corr() method on the DataFrame

# TODO: Create a heatmap
# Hint: Use the heatmap() function from the seaborn library

# TODO: Identify and discuss highly correlated pairs
# Hint: You can use the where() and stack() methods to identify the highly correlated pairs

## Question 8: Class Imbalance

Investigate whether there is a class imbalance in the target variable ('income').

a) Calculate the proportion of each class in the target variable.

In [ ]:
# TODO: Calculate and display class proportions

## Question 9: Data Scaling

Implement feature scaling on the numerical variables.

a) Choose a scaling method (e.g., StandardScaler, MinMaxScaler) and explain your choice.

b) Apply the scaling to the numerical features.

In [ ]:
# TODO: Choose and implement a scaling method
# Hint: The Scaler classes can be found in sklearn.preprocessing module

## Question 10: Exploratory Data Analysis

Perform exploratory data analysis to gain insights into the relationship between features and the target variable.

a) Create at least three different types of plots that reveal interesting patterns or relationships in the data. For instance, scatter plot, box plot, histogram and so on.

b) Explain your findings from each plot.

In [ ]:
# TODO: Create at least three informative plots
# Example:
plt.figure(figsize=(12, 6))
sns.scatterplot(data=df, x='age', y='hours-per-week', hue='income')
plt.title('Scatter Plot: Age vs. Hours per Week by Income')
plt.show()

# Create 2 more such plots of your own
# TODO: Explain insights gained from each plot