# PES University, Bangalore
Established under Karnataka Act No. 16 of 2013

## UE22AM343AB4 - Advanced Data Analytics

Designed by Sathwik HJ

### Student Details
- Name : **Shusrith S**
- SRN : **PES1UG22AM155**

## Data cleaning and Preprocessing

### Context
As an analyst at Torque Titans, you’ve been given an exciting opportunity to work with a comprehensive dataset that spans the motorcycle market from 1894 to 2022. Your primary responsibility is to clean and preprocess this data to ensure its quality and readiness for analysis. By doing so, you’ll enable your team to extract valuable insights that will drive Torque Titans forward in a competitive market. This critical task will set the foundation for innovative, data-driven strategies that will fuel the company’s success in the industry.

#### Let’s dive in!

In [29]:
!wget https://raw.githubusercontent.com/MBUYt0n/ada/refs/heads/main/ADA_Worksheet_A/all_bikes.csv

--2024-09-20 17:56:38--  https://raw.githubusercontent.com/MBUYt0n/ada/refs/heads/main/ADA_Worksheet_A/all_bikes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32644306 (31M) [text/plain]
Saving to: ‘all_bikes.csv.1’

all_bikes.csv.1     100%[===================>]  31.13M   183MB/s    in 0.2s

2024-09-20 17:56:38 (183 MB/s) - ‘all_bikes.csv.1’ saved [32644306/32644306]

### About the dataset
- "all_bikes.csv"
- Each record of the dataset represents a bike model which contains whereas details about it.

In [30]:
%pip install matplotlib pandas
%pip install numpy
%pip install scikit-learn

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [31]:
# Step 1: Import the required modules
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('all_bikes.csv')  # Replace with your dataset path

<ipython-input-31-ef01ff8d2199>:6: DtypeWarning: Columns (80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_bikes.csv')  # Replace with your dataset path

## Note:
Give reasons/explanations/reasoning for each question

**Step 1: Understanding the Dataset Start by closely examining the dataset to understand its structure.**
Are there any discrepancies or inconsistencies? Are there columns that may not provide valuable insights? Begin by importing the required modules, such as Pandas, and let’s gather some initial insights from the data:

● Analyze the number of columns, data types, and the number of values in each column.

● Calculate basic statistics like averages, minimums, and maximums for numerical data.

In [32]:
#Pandas Describe
stats = df.describe(include='all')
stats

,Model,Year,Category,Rating,Displacement,Engine type,Engine details,Power,Top speed,Bore x stroke,...,Emission details,Rear percentage of weight,Oil filter,Battery,Belt teeth,Belt width,Pulley teeth,Chain size,Factory warranty,Service interval
count,38472,38472.000000,38472,38472,37461,38461,6390,26110,12730,28689,...,4041,55.000000,113,139,39.000000,36,34,116.000000,5417,61
unique,18597,NaN,18,255,1330,30,1301,4914,416,1762,...,316,NaN,93,54,NaN,12,14,NaN,468,16
top,Harley-Davidson Servi-Car GE,NaN,Scooter,Do you know this bike?Click here to rate it. W...,125.0 ccm (7.63 cubic inches),"Single cylinder, four-stroke",Titanium valves,27.0 HP (19.7 kW)) @ 6000 RPM,45.0 km/h (28.0 mph),54.0 x 54.0 mm (2.1 x 2.1 inches),...,Euro 4,NaN,K & N KN-204-1,YTX14-BS,NaN,1 1/8 in,32/70 (front/rear),NaN,12 month unlimited mileage limited warranty.,"10,000 miles/16,000 km/12 months"
freq,38,NaN,6669,13018,1481,14703,161,96,536,472,...,841,NaN,4,10,NaN,7,11,NaN,356,24
mean,NaN,2003.195883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.741818,NaN,NaN,135.538462,NaN,NaN,520.612069,NaN,NaN
std,NaN,20.083372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.752357,NaN,NaN,5.129102,NaN,NaN,26.843758,NaN,NaN
min,NaN,1894.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.000000,NaN,NaN,128.000000,NaN,NaN,420.000000,NaN,NaN
25%,NaN,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,49.000000,NaN,NaN,133.000000,NaN,NaN,520.000000,NaN,NaN
50%,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.000000,NaN,NaN,135.000000,NaN,NaN,525.000000,NaN,NaN
75%,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,53.000000,NaN,NaN,138.000000,NaN,NaN,525.000000,NaN,NaN
max,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,70.000000,NaN,NaN,152.000000,NaN,NaN,630.000000,NaN,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38472 entries, 0 to 38471
Data columns (total 85 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Model                                     38472 non-null  object
 1   Year                                      38472 non-null  int64
 2   Category                                  38472 non-null  object
 3   Rating                                    38472 non-null  object
 4   Displacement                              37461 non-null  object
 5   Engine type                               38461 non-null  object
 6   Engine details                            6390 non-null   object
 7   Power                                     26110 non-null  object
 8   Top speed                                 12730 non-null  object
 9   Bore x stroke                             28689 non-null  object
 10  Fuel system                               27844 non-null  object
 11  Ignition                                  16529 non-null  object
 12  Cooling system                            34258 non-null  object
 13  Gearbox                                   32675 non-null  object
 14  Transmission type                         32861 non-null  object
 15  Driveline                                 8324 non-null   object
 16  Frame type                                17303 non-null  object
 17  Front suspension                          26107 non-null  object
 18  Rear suspension                           25540 non-null  object
 19  Wheels                                    9387 non-null   object
 20  Seat                                      4846 non-null   object
 21  Dry weight                                22483 non-null  object
 22  Power/weight ratio                        15213 non-null  object
 23  Clutch                                    15152 non-null  object
 24  Overall width                             18738 non-null  object
 25  Fuel capacity                             31704 non-null  object
 26  Comments                                  13700 non-null  object
 27  Exhaust system                            5900 non-null   object
 28  Compression                               23405 non-null  object
 29  Fuel control                              22008 non-null  object
 30  Lubrication system                        10158 non-null  object
 31  Front tire                                31982 non-null  object
 32  Rear tire                                 32008 non-null  object
 33  Front brakes                              36889 non-null  object
 34  Rear brakes                               36696 non-null  object
 35  Weight incl. oil, gas, etc                14994 non-null  object
 36  Overall length                            22242 non-null  object
 37  Ground clearance                          14205 non-null  object
 38  Wheelbase                                 25493 non-null  object
 39  Oil capacity                              3786 non-null   object
 40  Color options                             24327 non-null  object
 41  Starter                                   26845 non-null  object
 42  Electrical                                3085 non-null   object
 43  Valves per cylinder                       16173 non-null  float64
 44  Diameter                                  18816 non-null  object
 45  Carrying capacity                         2702 non-null   object
 46  Modifications compared to previous model  344 non-null    object
 47  Seat height                               24182 non-null  object
 48  Overall height                            16635 non-null  object
 49  Fuel consumption                          6176 non-null   object
 50  Greenhouse gases                          6176 non-null   object
 51  Torque                                    16634 non-null  object
 52  Max RPM                                   663 non-null    float64
 53  Light                                     3188 non-null   object
 54  Alternate seat height                     841 non-null    object
 55  Rake (fork angle)                         9518 non-null   object
 56  0-100 km/h (0-62 mph)                     424 non-null    object
 57  Front wheel travel                        12233 non-null  object
 58  Rear wheel travel                         11896 non-null  object
 59  Engine oil                                250 non-null    object
 60  Instruments                               4295 non-null   object
 61  60-140 km/h (37-87 mph), highest gear     148 non-null    object
 62  Front percentage of weight                196 non-null    float64
 63  Trail                                     7578 non-null   object
 64  Brake fluid                               244 non-null    object
 65  Coolant                                   126 non-null    object
 66  Spark plugs                               257 non-null    object
 67  Idle speed                                204 non-null    object
 68  Tire pressure front                       198 non-null    object
 69  Tire pressure rear                        198 non-null    object
 70  Fork tube size                            243 non-null    object
 71  Chain links                               133 non-null    float64
 72  Sprockets                                 168 non-null    object
 73  Reserve fuel capacity                     3421 non-null   object
 74  1/4 mile (0.4 km)                         89 non-null     object
 75  Emission details                          4041 non-null   object
 76  Rear percentage of weight                 55 non-null     float64
 77  Oil filter                                113 non-null    object
 78  Battery                                   139 non-null    object
 79  Belt teeth                                39 non-null     float64
 80  Belt width                                36 non-null     object
 81  Pulley teeth                              34 non-null     object
 82  Chain size                                116 non-null    float64
 83  Factory warranty                          5417 non-null   object
 84  Service interval                          61 non-null     object
dtypes: float64(7), int64(1), object(77)
memory usage: 24.9+ MB

**Step 2: Handling Missing Values Next**, let’s address missing values in the dataset. For numeric columns, we’ll fill the missing values with the column’s average. For categorical or other columns, choose an appropriate strategy based on what makes sense for the data—this could be filled with a placeholder like "Unknown" or the most frequent value.

In [34]:
null_percentage = df.isna().sum() / len(df)
null_percentage

Model               0.000000
Year                0.000000
Category            0.000000
Rating              0.000000
Displacement        0.026279
                      ...
Belt width          0.999064
Pulley teeth        0.999116
Chain size          0.996985
Factory warranty    0.859196
Service interval    0.998414
Length: 85, dtype: float64

In [35]:
a = df.columns[np.where(df.isna().sum() > 0)]
a

Index(['Displacement', 'Engine type', 'Engine details', 'Power', 'Top speed',
       'Bore x stroke', 'Fuel system', 'Ignition', 'Cooling system', 'Gearbox',
       'Transmission type', 'Driveline', 'Frame type', 'Front suspension',
       'Rear suspension', 'Wheels', 'Seat', 'Dry weight', 'Power/weight ratio',
       'Clutch', 'Overall width', 'Fuel capacity', 'Comments',
       'Exhaust system', 'Compression', 'Fuel control', 'Lubrication system',
       'Front tire', 'Rear tire', 'Front brakes', 'Rear brakes',
       'Weight incl. oil, gas, etc', 'Overall length', 'Ground clearance',
       'Wheelbase', 'Oil capacity', 'Color options', 'Starter', 'Electrical',
       'Valves per cylinder', 'Diameter', 'Carrying capacity',
       'Modifications compared to previous model', 'Seat height',
       'Overall height', 'Fuel consumption', 'Greenhouse gases', 'Torque',
       'Max RPM', 'Light', 'Alternate seat height', 'Rake (fork angle)',
       '0-100 km/h (0-62 mph)', 'Front wheel travel', 'Rear wheel travel',
       'Engine oil', 'Instruments', '60-140 km/h (37-87 mph), highest gear',
       'Front percentage of weight', 'Trail', 'Brake fluid', 'Coolant',
       'Spark plugs', 'Idle speed', 'Tire pressure front',
       'Tire pressure rear', 'Fork tube size', 'Chain links', 'Sprockets',
       'Reserve fuel capacity', '1/4 mile (0.4 km)', 'Emission details',
       'Rear percentage of weight', 'Oil filter', 'Battery', 'Belt teeth',
       'Belt width', 'Pulley teeth', 'Chain size', 'Factory warranty',
       'Service interval'],
      dtype='object')

In [36]:
numerical = df.describe()
means = numerical.loc["mean"]
df[numerical.columns] = df[numerical.columns].fillna(means)
df[numerical.columns].isna().sum()

Year                          0
Valves per cylinder           0
Max RPM                       0
Front percentage of weight    0
Chain links                   0
Rear percentage of weight     0
Belt teeth                    0
Chain size                    0
dtype: int64

In [37]:
non_numeric = list(set(a) - set(numerical.columns))
non_numeric_df = df[non_numeric]
non_numeric_modes = non_numeric_df.describe().loc["top"]
non_numeric_modes

Seat                                                            Dual seat
Fuel control                         Double Overhead Cams/Twin Cam (DOHC)
Tire pressure rear                            36 PSI (2.5 Bar or 250 kPa)
Engine type                                  Single cylinder, four-stroke
Reserve fuel capacity                       4.00 litres (1.06 US gallons)
                                               ...
Top speed                                            45.0 km/h (28.0 mph)
Greenhouse gases         129.9 CO2 g/km. (CO2 - Carbon dioxide emission)
Spark plugs                                      NGK DCPR7E, NGK DCPR7EIX
Driveline                                                             CVT
Lubrication system                                               Wet sump
Name: top, Length: 74, dtype: object

In [38]:
df[non_numeric] = df[non_numeric].fillna(non_numeric_modes)
df.isna().sum()

Model               0
Year                0
Category            0
Rating              0
Displacement        0
                   ..
Belt width          0
Pulley teeth        0
Chain size          0
Factory warranty    0
Service interval    0
Length: 85, dtype: int64

**Step 3: Eliminating Redundancies Take a look at the 0-100 column—do we really need speed in two different units?** Let’s clean up this redundancy. Be mindful, though; this might not be the only column with unnecessary duplication.

In [39]:
df.columns

Index(['Model', 'Year', 'Category', 'Rating', 'Displacement', 'Engine type',
       'Engine details', 'Power', 'Top speed', 'Bore x stroke', 'Fuel system',
       'Ignition', 'Cooling system', 'Gearbox', 'Transmission type',
       'Driveline', 'Frame type', 'Front suspension', 'Rear suspension',
       'Wheels', 'Seat', 'Dry weight', 'Power/weight ratio', 'Clutch',
       'Overall width', 'Fuel capacity', 'Comments', 'Exhaust system',
       'Compression', 'Fuel control', 'Lubrication system', 'Front tire',
       'Rear tire', 'Front brakes', 'Rear brakes',
       'Weight incl. oil, gas, etc', 'Overall length', 'Ground clearance',
       'Wheelbase', 'Oil capacity', 'Color options', 'Starter', 'Electrical',
       'Valves per cylinder', 'Diameter', 'Carrying capacity',
       'Modifications compared to previous model', 'Seat height',
       'Overall height', 'Fuel consumption', 'Greenhouse gases', 'Torque',
       'Max RPM', 'Light', 'Alternate seat height', 'Rake (fork angle)',
       '0-100 km/h (0-62 mph)', 'Front wheel travel', 'Rear wheel travel',
       'Engine oil', 'Instruments', '60-140 km/h (37-87 mph), highest gear',
       'Front percentage of weight', 'Trail', 'Brake fluid', 'Coolant',
       'Spark plugs', 'Idle speed', 'Tire pressure front',
       'Tire pressure rear', 'Fork tube size', 'Chain links', 'Sprockets',
       'Reserve fuel capacity', '1/4 mile (0.4 km)', 'Emission details',
       'Rear percentage of weight', 'Oil filter', 'Battery', 'Belt teeth',
       'Belt width', 'Pulley teeth', 'Chain size', 'Factory warranty',
       'Service interval'],
      dtype='object')

In [40]:
a = len(df) - len(df[df["Tire pressure rear"] == df["Tire pressure front"]])
b = len(df) - len(df[df["Front brakes"] == df["Rear brakes"]])
c = len(df) - len(df[df["Rear percentage of weight"] == df["Front percentage of weight"]])
d = len(df) - len(df[df["Front wheel travel"] == df["Rear wheel travel"]])
print(a, b, c, d)

156 21499 38467 36349

In [41]:
a = df[["Gearbox", "Transmission type"]]
a.value_counts()

Gearbox               Transmission type
6-speed               Chain   (final drive)                   14595
5-speed               Chain   (final drive)                    7915
Automatic             Belt   (final drive)                     3828
4-speed               Chain   (final drive)                    2258
5-speed               Shaft drive (cardan)   (final drive)     1990
6-speed               Belt   (final drive)                     1974
Automatic             Chain   (final drive)                    1599
6-speed               Shaft drive (cardan)   (final drive)     1132
5-speed               Belt   (final drive)                     1087
Automatic             Shaft drive (cardan)   (final drive)      595
4-speed               Shaft drive (cardan)   (final drive)      419
3-speed               Chain   (final drive)                     406
1-speed               Chain   (final drive)                     224
4-speed               Belt   (final drive)                      119
3-speed               Shaft drive (cardan)   (final drive)       57
2-speed               Chain   (final drive)                      53
1-speed               Belt   (final drive)                       51
4-speed with reverse  Shaft drive (cardan)   (final drive)       49
2-speed               Shaft drive (cardan)   (final drive)       25
                      Belt   (final drive)                       15
3-speed               Belt   (final drive)                       15
7-speed               Shaft drive (cardan)   (final drive)       13
                      Chain   (final drive)                      11
100-speed             Belt   (final drive)                        7
                      Shaft drive (cardan)   (final drive)        6
2-speed automatic     Shaft drive (cardan)   (final drive)        5
1-speed               Shaft drive (cardan)   (final drive)        5
5-speed with reverse  Shaft drive (cardan)   (final drive)        5
2-speed automatic     Chain   (final drive)                       3
10-speed              Shaft drive (cardan)   (final drive)        3
8-speed               Chain   (final drive)                       3
100-speed             Chain   (final drive)                       2
3-speed automatic     Chain   (final drive)                       1
6-speed with reverse  Shaft drive (cardan)   (final drive)        1
10-speed              Chain   (final drive)                       1
Name: count, dtype: int64

In [42]:
df.drop(
    [
        "Weight incl. oil, gas, etc",
        "1/4 mile (0.4 km)",
        "60-140 km/h (37-87 mph), highest gear",
        "Tire pressure front",
        "Greenhouse gases"
    ], axis=1, inplace=True
)

**Step 4: Duplicates Now**, check for any duplicate records in the dataset. If duplicates are found, remove them to avoid any skewed analysis.

In [43]:
df.drop_duplicates(inplace=True)

**Step 5: Engine Details Column Examine the Engine Details column carefully.** Will this column be useful in providing insights, or is it redundant or irrelevant to the analysis? Decide whether to keep or drop it.

In [44]:
df["Engine details"].value_counts() / len(df)

Engine details
Titanium valves                                                  0.838090
Reed intake.                                                     0.003613
90° V-twin                                                       0.002495
Reed valve.                                                      0.002079
Balancer shaft                                                   0.002027
                                                                   ...
Permanent magnet synchronous motor in a disc armature design.    0.000026
Permanent magnet synchronous motorin a disc armature design      0.000026
48 V  BLDC motor with outer rotor                                0.000026
16 valves with variable valve timing                             0.000026
Fuel injection: ø42 mm x 2                                       0.000026
Name: count, Length: 1301, dtype: float64

In [45]:
df.drop("Engine details", axis=1, inplace=True)

**Step 6: Preparing for Future Text Processing Torque Titans might explore text processing on some of the data in the future**, so let’s be proactive! We can tokenize the strings in the relevant columns to ensure we’re ready for text analysis down the line. This involves splitting text into individual tokens (words) and storing them for future use.

There are a lot of tokeniser available, note: Torque Titans are potentially looking to integrate with openai.

In [46]:
!pip install tiktoken

Requirement already satisfied: tiktoken in /usr/local/lib/python3.10/dist-packages (0.7.0)
Requirement already satisfied: regex>=2022.1.18 in /usr/local/lib/python3.10/dist-packages (from tiktoken) (2024.9.11)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.10/dist-packages (from tiktoken) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->tiktoken) (2024.8.30)

In [47]:
import tiktoken

enc = tiktoken.get_encoding("o200k_base")
non_numeric = df.select_dtypes(exclude=np.number)

tokenized_df = non_numeric.apply(lambda x: x.apply(lambda y: enc.encode(y)))
tokenized_df

,Model,Category,Rating,Displacement,Engine type,Power,Top speed,Bore x stroke,Fuel system,Ignition,...,Fork tube size,Sprockets,Reserve fuel capacity,Emission details,Oil filter,Battery,Belt width,Pulley teeth,Factory warranty,Service interval
0,"[32, 41166, 128298, 47, 220, 1434, 6437, 2884]","[4764, 2884, 820, 1277, 12086]","[220, 18, 13, 22, 220, 5310, 4383, 842, 290, 1...","[3796, 13, 24, 274, 7871, 350, 18, 13, 3000, 6...","[13301, 49938, 11, 1920, 6321, 11472]","[24, 13, 20, 21979, 350, 21, 13, 24, 220, 372,...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[1723, 13, 15, 1215, 220, 3255, 13, 22, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
1,"[32, 41166, 128298, 47, 220, 1434, 460]",[50837],"[220, 18, 13, 21, 220, 5310, 4383, 842, 290, 1...","[3796, 13, 24, 274, 7871, 350, 18, 13, 3000, 6...","[13301, 49938, 11, 1920, 6321, 11472]","[24, 13, 20, 21979, 350, 21, 13, 24, 220, 372,...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[1723, 13, 15, 1215, 220, 3255, 13, 22, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
2,"[32, 41166, 128298, 47, 220, 1434, 8220, 46121...","[17260, 3598, 597]","[220, 16, 13, 24, 220, 5310, 4383, 842, 290, 1...","[3796, 13, 24, 274, 7871, 350, 18, 13, 3000, 6...","[13301, 49938, 11, 1920, 6321, 11472]","[24, 13, 20, 21979, 350, 21, 13, 24, 220, 372,...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[1723, 13, 15, 1215, 220, 3255, 13, 22, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
3,"[32, 41166, 11448, 18, 220, 10676, 6437, 2884]","[4764, 2884, 820, 1277, 12086]","[220, 17, 13, 16, 220, 5310, 4383, 842, 290, 1...","[16059, 13, 15, 274, 7871, 350, 22, 13, 5085, ...","[13301, 49938, 11, 4242, 6321, 11472]","[899, 13, 20, 21979, 350, 24, 13, 16, 220, 372...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267, 13, 17965, 14996, 2...","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
4,"[32, 41166, 11448, 18, 220, 10676, 6437, 2884,...","[4764, 2884, 820, 1277, 12086]","[6449, 481, 1761, 495, 17431, 30, 3524, 2105, ...","[16059, 13, 15, 274, 7871, 350, 22, 13, 5085, ...","[13301, 49938, 11, 4242, 6321, 11472]","[899, 13, 20, 21979, 350, 24, 13, 16, 220, 372...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267, 13, 17965, 14996, 2...","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38467,"[347, 1191, 15928, 5239, 394, 336, 220, 4095, ...","[188210, 8708]","[6449, 481, 1761, 495, 17431, 30, 3524, 2105, ...","[10676, 13, 15, 274, 7871, 350, 22, 13, 8876, ...",[78080],"[19, 13, 15, 21979, 350, 17, 13, 24, 220, 372,...","[3898, 13, 15, 8571, 14174, 350, 1723, 13, 19,...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[3160, 2823, 33379]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
38468,"[347, 1191, 15928, 5239, 394, 336, 220, 3234, 15]","[188210, 8708]","[6449, 481, 1761, 495, 17431, 30, 3524, 2105, ...","[10676, 13, 15, 274, 7871, 350, 22, 13, 8876, ...",[78080],"[21, 13, 22, 21979, 350, 19, 13, 24, 220, 372,...","[10116, 13, 15, 8571, 14174, 350, 6231, 13, 15...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[3160, 2823, 33379]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
38469,"[823, 130874, 113621]","[188210, 8708]","[6449, 481, 1761, 495, 17431, 30, 3524, 2105, ...","[10676, 13, 15, 274, 7871, 350, 22, 13, 8876, ...",[78080],"[17, 13, 22, 21979, 350, 17, 13, 15, 220, 372,...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
38470,"[823, 130874, 122050]","[188210, 8708]","[6449, 481, 1761, 495, 17431, 30, 3524, 2105, ...","[10676, 13, 15, 274, 7871, 350, 22, 13, 8876, ...",[78080],"[17, 13, 22, 21979, 350, 17, 13, 15, 220, 372,...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."
38471,"[823, 130874, 45558]","[188210, 8708]","[6449, 481, 1761, 495, 17431, 30, 3524, 2105, ...","[10676, 13, 15, 274, 7871, 350, 22, 13, 8876, ...",[78080],"[17, 13, 22, 21979, 350, 17, 13, 15, 220, 372,...","[2548, 13, 15, 8571, 14174, 350, 2029, 13, 15,...","[6733, 13, 15, 1215, 220, 6733, 13, 15, 8957, ...","[9680, 65, 627, 1037, 267]","[8257, 40]",...,"[4987, 8957, 350, 16, 13, 21, 21185, 8]","[1422, 14, 2548, 350, 10313, 18868, 277, 8]","[19, 13, 504, 113160, 350, 16, 13, 3218, 2952,...","[29107, 220, 19]","[42, 827, 478, 48594, 12, 14397, 12, 16]","[56, 33879, 1265, 8287, 50]","[16, 220, 16, 14, 23, 306]","[1398, 14, 2789, 350, 10313, 18868, 277, 8]","[899, 2944, 34136, 64827, 9913, 13556, 13]","[702, 11, 1302, 10753, 14, 1125, 11, 1302, 857..."

In [48]:
df.columns

Index(['Model', 'Year', 'Category', 'Rating', 'Displacement', 'Engine type',
       'Power', 'Top speed', 'Bore x stroke', 'Fuel system', 'Ignition',
       'Cooling system', 'Gearbox', 'Transmission type', 'Driveline',
       'Frame type', 'Front suspension', 'Rear suspension', 'Wheels', 'Seat',
       'Dry weight', 'Power/weight ratio', 'Clutch', 'Overall width',
       'Fuel capacity', 'Comments', 'Exhaust system', 'Compression',
       'Fuel control', 'Lubrication system', 'Front tire', 'Rear tire',
       'Front brakes', 'Rear brakes', 'Overall length', 'Ground clearance',
       'Wheelbase', 'Oil capacity', 'Color options', 'Starter', 'Electrical',
       'Valves per cylinder', 'Diameter', 'Carrying capacity',
       'Modifications compared to previous model', 'Seat height',
       'Overall height', 'Fuel consumption', 'Torque', 'Max RPM', 'Light',
       'Alternate seat height', 'Rake (fork angle)', '0-100 km/h (0-62 mph)',
       'Front wheel travel', 'Rear wheel travel', 'Engine oil', 'Instruments',
       'Front percentage of weight', 'Trail', 'Brake fluid', 'Coolant',
       'Spark plugs', 'Idle speed', 'Tire pressure rear', 'Fork tube size',
       'Chain links', 'Sprockets', 'Reserve fuel capacity', 'Emission details',
       'Rear percentage of weight', 'Oil filter', 'Battery', 'Belt teeth',
       'Belt width', 'Pulley teeth', 'Chain size', 'Factory warranty',
       'Service interval'],
      dtype='object')

**Step 7: Designing a Rating System Here comes the fun part—Torque Titans wants to roll out a rating system for their motorcycles!**
You’ll take into account the following factors:

● Speed

● Engine type (feel free to assign weight based on your opinion
of which engines are superior)

● 0-100 acceleration

● Power

● Torque

● Weight

● RPM (you might want to cross-reference with the torque column).

Using these factors, create a new column called Rating, which is scaled from 1 to 4 (no decimals). You don’t need to give all columns equal weight—experiment to find the ideal balance for what you think makes a great motorcycle!

Make sure to normalise the values before considering them for the rating column, as they can add a bias to the calculations, Lets try using MaxAbsScaler and try keep the values between [-1,1]

In [80]:
A = ['Engine type', 'Top speed', 'Power', 'Torque', 'Dry weight']
features = df[A]

In [81]:
for i in A:
  print(features[i].value_counts())

Engine type
Single cylinder, four-stroke        14714
V2, four-stroke                      7405
Single cylinder, two-stroke          5982
In-line four, four-stroke            3152
Twin, four-stroke                    2888
Electric                              979
Two cylinder boxer, four-stroke       862
In-line three, four-stroke            794
Twin, two-stroke                      500
V4, four-stroke                       452
Six cylinder boxer, four-stroke       137
In-line six, four-stroke              111
V8, four-stroke                        79
Two cylinder boxer, two-stroke         74
In-line three, two-stroke              58
Four cylinder boxer, four-stroke       52
V6, four-stroke                        42
V2, two-stroke                         39
Diesel                                 37
Square four cylinder                   33
Gas turbine                            19
In-line four, two-stroke               17
Dual disk Wankel                       13
Radial                                 10
Single disk Wankel                      8
V4, two-stroke                          7
In-line six, two-stroke                 3
V3, two-stroke                          3
V10, four-stroke                        1
Four cylinder boxer, two-stroke         1
Name: count, dtype: int64
Top speed
45.0 km/h (28.0 mph)      26278
90.0 km/h (55.9 mph)        445
100.0 km/h (62.1 mph)       422
110.0 km/h (68.4 mph)       401
95.0 km/h (59.0 mph)        342
                          ...
267.0 km/h (165.9 mph)        1
67.0 km/h (41.6 mph)          1
224.5 km/h (139.5 mph)        1
32.2 km/h (20.0 mph)          1
133.6 km/h (83.0 mph)         1
Name: count, Length: 416, dtype: int64
Power
27.0 HP (19.7  kW)) @ 6000 RPM    12458
50.0 HP (36.5  kW)) @ 6500 RPM       90
27.0 HP (19.7  kW)) @ 6500 RPM       85
15.0 HP (10.9  kW))                  83
2.7 HP (2.0  kW))                    76
                                  ...
65.7 HP (48.0  kW)) @ 4700 RPM        1
71.0 HP (51.8  kW)) @ 5500 RPM        1
63.0 HP (46.0  kW)) @ 4700 RPM        1
64.0 HP (46.7  kW)) @ 4900 RPM        1
136.0 HP (99.3  kW))                  1
Name: count, Length: 4914, dtype: int64
Torque
52.0 Nm (5.3 kgf-m or 38.4 ft.lbs) @ 4000 RPM      21913
3.6 Nm (0.4 kgf-m or 2.7 ft.lbs) @ 6000 RPM           59
9.0 Nm (0.9 kgf-m or 6.6 ft.lbs) @ 7500 RPM           56
41.3 Nm (4.2 kgf-m or 30.5 ft.lbs) @ 4000 RPM         55
22.0 Nm (2.2 kgf-m or 16.2 ft.lbs) @ 6500 RPM         51
                                                   ...
63.7 Nm (6.5 kgf-m or 47.0 ft.lbs)                     1
24.0 Nm (2.4 kgf-m or 17.7 ft.lbs)                     1
33.8 Nm (3.4 kgf-m or 24.9 ft.lbs) @ 8000 RPM          1
14.3 Nm (1.5 kgf-m or 10.5 ft.lbs) @ 6300 RPM          1
109.0 Nm (11.1 kgf-m or 80.4 ft.lbs) @ 6000 RPM        1
Name: count, Length: 3736, dtype: int64
Dry weight
110.0 kg (242.5 pounds)    16296
120.0 kg (264.6 pounds)      262
130.0 kg (286.6 pounds)      251
150.0 kg (330.7 pounds)      241
135.0 kg (297.6 pounds)      233
                           ...
71.7 kg (158.0 pounds)         1
133.8 kg (295.0 pounds)        1
153.3 kg (338.0 pounds)        1
125.7 kg (277.0 pounds)        1
192.5 kg (424.4 pounds)        1
Name: count, Length: 1424, dtype: int64

In [82]:
# Remove commas before converting to float
features["Top speed"] = features["Top speed"].apply(lambda x: float(x.split()[0]))
features["Dry weight"] = features["Dry weight"].apply(lambda x: float(x.split()[0].replace(',', '')))
features["RPM"] = features["Torque"].apply(lambda x: float(x.split()[-2].replace(',', '')))
features["Power"] = features["Power"].apply(lambda x: float(x.split()[0].replace(',', '')))
features["Torque"] = features["Torque"].apply(lambda x: float(x.split()[0].replace(',', '')))

<ipython-input-82-390fbd474cf6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Top speed"] = features["Top speed"].apply(lambda x: float(x.split()[0]))
<ipython-input-82-390fbd474cf6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Dry weight"] = features["Dry weight"].apply(lambda x: float(x.split()[0].replace(',', '')))
<ipython-input-82-390fbd474cf6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["RPM"] = features["Torque"].apply(lambda x: float(x.split()[-2].replace(',', '')))
<ipython-input-82-390fbd474cf6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Power"] = features["Power"].apply(lambda x: float(x.split()[0].replace(',', '')))
<ipython-input-82-390fbd474cf6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Torque"] = features["Torque"].apply(lambda x: float(x.split()[0].replace(',', '')))

In [83]:
features

,Engine type,Top speed,Power,Torque,Dry weight,RPM
0,"Single cylinder, two-stroke",45.0,9.5,52.0,78.0,4000.0
1,"Single cylinder, two-stroke",45.0,9.5,52.0,78.0,4000.0
2,"Single cylinder, two-stroke",45.0,9.5,52.0,78.0,4000.0
3,"Single cylinder, four-stroke",45.0,12.5,8.5,110.0,8000.0
4,"Single cylinder, four-stroke",45.0,12.5,8.5,110.0,8000.0
...,...,...,...,...,...,...
38467,Electric,65.0,4.0,52.0,144.0,4000.0
38468,Electric,82.0,6.7,52.0,130.0,4000.0
38469,Electric,45.0,2.7,52.0,110.0,4000.0
38470,Electric,45.0,2.7,52.0,110.0,4000.0
38471,Electric,45.0,2.7,52.0,110.0,4000.0

In [84]:
for i in features:
  print(features[i].value_counts())

Engine type
Single cylinder, four-stroke        14714
V2, four-stroke                      7405
Single cylinder, two-stroke          5982
In-line four, four-stroke            3152
Twin, four-stroke                    2888
Electric                              979
Two cylinder boxer, four-stroke       862
In-line three, four-stroke            794
Twin, two-stroke                      500
V4, four-stroke                       452
Six cylinder boxer, four-stroke       137
In-line six, four-stroke              111
V8, four-stroke                        79
Two cylinder boxer, two-stroke         74
In-line three, two-stroke              58
Four cylinder boxer, four-stroke       52
V6, four-stroke                        42
V2, two-stroke                         39
Diesel                                 37
Square four cylinder                   33
Gas turbine                            19
In-line four, two-stroke               17
Dual disk Wankel                       13
Radial                                 10
Single disk Wankel                      8
V4, two-stroke                          7
In-line six, two-stroke                 3
V3, two-stroke                          3
V10, four-stroke                        1
Four cylinder boxer, two-stroke         1
Name: count, dtype: int64
Top speed
45.0     26278
90.0       445
100.0      422
110.0      401
95.0       342
         ...
267.0        1
67.0         1
224.5        1
32.2         1
133.6        1
Name: count, Length: 416, dtype: int64
Power
27.0     13207
50.0       582
17.0       512
100.0      455
15.0       369
         ...
40.4         1
82.9         1
93.8         1
19.1         1
194.5        1
Name: count, Length: 849, dtype: int64
Torque
52.0     21966
60.0       194
9.0        187
10.0       164
68.0       155
         ...
520.0        1
90.4         1
63.8         1
185.0        1
29.3         1
Name: count, Length: 873, dtype: int64
Dry weight
110.0    16296
120.0      262
130.0      251
150.0      241
135.0      233
         ...
65.2         1
56.6         1
344.1        1
76.2         1
17.7         1
Name: count, Length: 1279, dtype: int64
RPM
4000.0    22419
6000.0     1552
6500.0     1514
5500.0     1103
7000.0     1056
          ...
6.1           1
3375.0        1
249.3         1
94.1          1
31.3          1
Name: count, Length: 483, dtype: int64

In [85]:
d = {"Single" : 1, "single": 1, "two" : 2, "three" : 3, "four" : 4, "five" : 5, "six" : 6, "seven" : 7, "eight" : 8, "nine" : 9, "ten" : 10}
e = features["Engine type"]
s = []
for i in e:
  c = 0
  p = i.split(",")
  for j in d:
    for k in p:
      if j in k:
        c += d[j]
  s.append(c)
features["Engine type"] = s
features

<ipython-input-85-125ba2a9ffae>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Engine type"] = s

       Engine type  Top speed  Power  Torque  Dry weight     RPM
0                3       45.0    9.5    52.0        78.0  4000.0
1                3       45.0    9.5    52.0        78.0  4000.0
2                3       45.0    9.5    52.0        78.0  4000.0
3                5       45.0   12.5     8.5       110.0  8000.0
4                5       45.0   12.5     8.5       110.0  8000.0
...            ...        ...    ...     ...         ...     ...
38467            0       65.0    4.0    52.0       144.0  4000.0
38468            0       82.0    6.7    52.0       130.0  4000.0
38469            0       45.0    2.7    52.0       110.0  4000.0
38470            0       45.0    2.7    52.0       110.0  4000.0
38471            0       45.0    2.7    52.0       110.0  4000.0

[38472 rows x 6 columns]

In [86]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(features), columns=features.columns)
normalized_df

       Engine type  Top speed     Power    Torque  Dry weight       RPM
0              0.3   0.069231  0.011807  0.073034       0.078  0.275862
1              0.3   0.069231  0.011807  0.073034       0.078  0.275862
2              0.3   0.069231  0.011807  0.073034       0.078  0.275862
3              0.5   0.069231  0.015536  0.011938       0.110  0.551724
4              0.5   0.069231  0.015536  0.011938       0.110  0.551724
...            ...        ...       ...       ...         ...       ...
38467          0.0   0.100000  0.004971  0.073034       0.144  0.275862
38468          0.0   0.126154  0.008327  0.073034       0.130  0.275862
38469          0.0   0.069231  0.003356  0.073034       0.110  0.275862
38470          0.0   0.069231  0.003356  0.073034       0.110  0.275862
38471          0.0   0.069231  0.003356  0.073034       0.110  0.275862

[38472 rows x 6 columns]

In [87]:
weights = [0.8, 0.8, 0.8, 0.8, -0.8, 0.8]
def map_number(n):
    if n < 0.25:
        return 1
    elif n < 0.5:
        return 2
    elif n < 0.75:
        return 3
    else:
        return 4

normalized_df["Rating"] = (normalized_df * weights).sum(axis=1)
normalized_df["Rating"] = normalized_df["Rating"].apply(map_number)
normalized_df

,Engine type,Top speed,Power,Torque,Dry weight,RPM,Rating
0,0.3,0.069231,0.011807,0.073034,0.078,0.275862,3
1,0.3,0.069231,0.011807,0.073034,0.078,0.275862,3
2,0.3,0.069231,0.011807,0.073034,0.078,0.275862,3
3,0.5,0.069231,0.015536,0.011938,0.110,0.551724,4
4,0.5,0.069231,0.015536,0.011938,0.110,0.551724,4
...,...,...,...,...,...,...,...
38467,0.0,0.100000,0.004971,0.073034,0.144,0.275862,1
38468,0.0,0.126154,0.008327,0.073034,0.130,0.275862,2
38469,0.0,0.069231,0.003356,0.073034,0.110,0.275862,1
38470,0.0,0.069231,0.003356,0.073034,0.110,0.275862,1
38471,0.0,0.069231,0.003356,0.073034,0.110,0.275862,1

**By completing these steps, you'll not only ensure that the dataset is ready for insightful analysis but also set the stage for exciting innovations at Torque Titans. Let’s get started and have fun while we shape the future of motorcycles!**