# PES University, Bangalore
Established under Karnataka Act No. 16 of 2013

## UE22AM343AB4 - Advanced Data Analytics 

Designed by Sathwik HJ

### Student Details
- Name : **Student Name**
- SRN : **SRN**

## Data cleaning and Preprocessing

### Context
As an analyst at Torque Titans, you’ve been given an exciting opportunity to work with a comprehensive dataset that spans the motorcycle market from 1894 to 2022. Your primary responsibility is to clean and preprocess this data to ensure its quality and readiness for analysis. By doing so, you’ll enable your team to extract valuable insights that will drive Torque Titans forward in a competitive market. This critical task will set the foundation for innovative, data-driven strategies that will fuel the company’s success in the industry.

#### Let’s dive in!

### About the dataset
- "all_bikes.csv"
- Each record of the dataset represents a bike model which contains whereas details about it.

In [ ]:
%pip install matplotlib pandas
%pip install numpy
%pip install scikit-learn

In [41]:
# Step 1: Import the required modules
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('all_bikes.csv')  # Replace with your dataset path

/tmp/ipykernel_9201/639087774.py:6: DtypeWarning: Columns (80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_bikes.csv')  # Replace with your dataset path

## Note: 
Give reasons/explanations/reasoning for each question

**Step 1: Understanding the Dataset Start by closely examining the dataset to understand its structure.** 
Are there any discrepancies or inconsistencies? Are there columns that may not provide valuable insights? Begin by importing the required modules, such as Pandas, and let’s gather some initial insights from the data:

● Analyze the number of columns, data types, and the number of values in each column.

● Calculate basic statistics like averages, minimums, and maximums for numerical data.

In [15]:
#Pandas Describe
stats = df.describe(include='all')
stats

,Model,Year,Category,Rating,Displacement,Engine type,Engine details,Power,Top speed,Bore x stroke,...,Emission details,Rear percentage of weight,Oil filter,Battery,Belt teeth,Belt width,Pulley teeth,Chain size,Factory warranty,Service interval
count,38472,38472.000000,38472,38472,37461,38461,6390,26110,12730,28689,...,4041,55.000000,113,139,39.000000,36,34,116.000000,5417,61
unique,18597,NaN,18,255,1330,30,1301,4914,416,1762,...,316,NaN,93,54,NaN,12,14,NaN,468,16
top,Harley-Davidson Servi-Car GE,NaN,Scooter,Do you know this bike?Click here to rate it. W...,125.0 ccm (7.63 cubic inches),"Single cylinder, four-stroke",Titanium valves,27.0 HP (19.7 kW)) @ 6000 RPM,45.0 km/h (28.0 mph),54.0 x 54.0 mm (2.1 x 2.1 inches),...,Euro 4,NaN,K & N KN-204-1,YTX14-BS,NaN,1 1/8 in,32/70 (front/rear),NaN,12 month unlimited mileage limited warranty.,"10,000 miles/16,000 km/12 months"
freq,38,NaN,6669,13018,1481,14703,161,96,536,472,...,841,NaN,4,10,NaN,7,11,NaN,356,24
mean,NaN,2003.195883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.741818,NaN,NaN,135.538462,NaN,NaN,520.612069,NaN,NaN
std,NaN,20.083372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.752357,NaN,NaN,5.129102,NaN,NaN,26.843758,NaN,NaN
min,NaN,1894.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.000000,NaN,NaN,128.000000,NaN,NaN,420.000000,NaN,NaN
25%,NaN,2000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,49.000000,NaN,NaN,133.000000,NaN,NaN,520.000000,NaN,NaN
50%,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.000000,NaN,NaN,135.000000,NaN,NaN,525.000000,NaN,NaN
75%,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,53.000000,NaN,NaN,138.000000,NaN,NaN,525.000000,NaN,NaN
max,NaN,2022.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,70.000000,NaN,NaN,152.000000,NaN,NaN,630.000000,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38472 entries, 0 to 38471
Data columns (total 85 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Model                                     38472 non-null  object
 1   Year                                      38472 non-null  int64
 2   Category                                  38472 non-null  object
 3   Rating                                    38472 non-null  object
 4   Displacement                              37461 non-null  object
 5   Engine type                               38461 non-null  object
 6   Engine details                            6390 non-null   object
 7   Power                                     26110 non-null  object
 8   Top speed                                 12730 non-null  object
 9   Bore x stroke                             28689 non-null  object
 10  Fuel system                               27844 non-null  object
 11  Ignition                                  16529 non-null  object
 12  Cooling system                            34258 non-null  object
 13  Gearbox                                   32675 non-null  object
 14  Transmission type                         32861 non-null  object
 15  Driveline                                 8324 non-null   object
 16  Frame type                                17303 non-null  object
 17  Front suspension                          26107 non-null  object
 18  Rear suspension                           25540 non-null  object
 19  Wheels                                    9387 non-null   object
 20  Seat                                      4846 non-null   object
 21  Dry weight                                22483 non-null  object
 22  Power/weight ratio                        15213 non-null  object
 23  Clutch                                    15152 non-null  object
 24  Overall width                             18738 non-null  object
 25  Fuel capacity                             31704 non-null  object
 26  Comments                                  13700 non-null  object
 27  Exhaust system                            5900 non-null   object
 28  Compression                               23405 non-null  object
 29  Fuel control                              22008 non-null  object
 30  Lubrication system                        10158 non-null  object
 31  Front tire                                31982 non-null  object
 32  Rear tire                                 32008 non-null  object
 33  Front brakes                              36889 non-null  object
 34  Rear brakes                               36696 non-null  object
 35  Weight incl. oil, gas, etc                14994 non-null  object
 36  Overall length                            22242 non-null  object
 37  Ground clearance                          14205 non-null  object
 38  Wheelbase                                 25493 non-null  object
 39  Oil capacity                              3786 non-null   object
 40  Color options                             24327 non-null  object
 41  Starter                                   26845 non-null  object
 42  Electrical                                3085 non-null   object
 43  Valves per cylinder                       16173 non-null  float64
 44  Diameter                                  18816 non-null  object
 45  Carrying capacity                         2702 non-null   object
 46  Modifications compared to previous model  344 non-null    object
 47  Seat height                               24182 non-null  object
 48  Overall height                            16635 non-null  object
 49  Fuel consumption                          6176 non-null   object
 50  Greenhouse gases                          6176 non-null   object
 51  Torque                                    16634 non-null  object
 52  Max RPM                                   663 non-null    float64
 53  Light                                     3188 non-null   object
 54  Alternate seat height                     841 non-null    object
 55  Rake (fork angle)                         9518 non-null   object
 56  0-100 km/h (0-62 mph)                     424 non-null    object
 57  Front wheel travel                        12233 non-null  object
 58  Rear wheel travel                         11896 non-null  object
 59  Engine oil                                250 non-null    object
 60  Instruments                               4295 non-null   object
 61  60-140 km/h (37-87 mph), highest gear     148 non-null    object
 62  Front percentage of weight                196 non-null    float64
 63  Trail                                     7578 non-null   object
 64  Brake fluid                               244 non-null    object
 65  Coolant                                   126 non-null    object
 66  Spark plugs                               257 non-null    object
 67  Idle speed                                204 non-null    object
 68  Tire pressure front                       198 non-null    object
 69  Tire pressure rear                        198 non-null    object
 70  Fork tube size                            243 non-null    object
 71  Chain links                               133 non-null    float64
 72  Sprockets                                 168 non-null    object
 73  Reserve fuel capacity                     3421 non-null   object
 74  1/4 mile (0.4 km)                         89 non-null     object
 75  Emission details                          4041 non-null   object
 76  Rear percentage of weight                 55 non-null     float64
 77  Oil filter                                113 non-null    object
 78  Battery                                   139 non-null    object
 79  Belt teeth                                39 non-null     float64
 80  Belt width                                36 non-null     object
 81  Pulley teeth                              34 non-null     object
 82  Chain size                                116 non-null    float64
 83  Factory warranty                          5417 non-null   object
 84  Service interval                          61 non-null     object
dtypes: float64(7), int64(1), object(77)
memory usage: 24.9+ MB

**Step 2: Handling Missing Values Next**, let’s address missing values in the dataset. For numeric columns, we’ll fill the missing values with the column’s average. For categorical or other columns, choose an appropriate strategy based on what makes sense for the data—this could be filled with a placeholder like "Unknown" or the most frequent value.

In [35]:
null_percentage = df.isna().sum() / len(df)
null_percentage

Model               0.000000
Year                0.000000
Category            0.000000
Rating              0.000000
Displacement        0.026279
                      ...
Belt width          0.999064
Pulley teeth        0.999116
Chain size          0.000000
Factory warranty    0.859196
Service interval    0.998414
Length: 85, dtype: float64

In [43]:
df.dropna(axis=1, thresh=0.1*len(df), inplace=True)
null_percentage = df.isna().sum() / len(df)
null_percentage

Model                         0.000000
Year                          0.000000
Category                      0.000000
Rating                        0.000000
Displacement                  0.026279
Engine type                   0.000286
Engine details                0.833905
Power                         0.321325
Top speed                     0.669110
Bore x stroke                 0.254289
Fuel system                   0.276253
Ignition                      0.570363
Cooling system                0.109534
Gearbox                       0.150681
Transmission type             0.145846
Driveline                     0.783635
Frame type                    0.550244
Front suspension              0.321403
Rear suspension               0.336141
Wheels                        0.756004
Seat                          0.874038
Dry weight                    0.415601
Power/weight ratio            0.604570
Clutch                        0.606155
Overall width                 0.512944
Fuel capacity                 0.175920
Comments                      0.643897
Exhaust system                0.846642
Compression                   0.391635
Fuel control                  0.427948
Lubrication system            0.735964
Front tire                    0.168694
Rear tire                     0.168018
Front brakes                  0.041147
Rear brakes                   0.046163
Weight incl. oil, gas, etc    0.610262
Overall length                0.421865
Ground clearance              0.630770
Wheelbase                     0.337362
Color options                 0.367670
Starter                       0.302220
Valves per cylinder           0.579616
Diameter                      0.510917
Seat height                   0.371439
Overall height                0.567608
Fuel consumption              0.839468
Greenhouse gases              0.839468
Torque                        0.567634
Rake (fork angle)             0.752599
Front wheel travel            0.682028
Rear wheel travel             0.690788
Instruments                   0.888360
Trail                         0.803026
Emission details              0.894963
Factory warranty              0.859196
dtype: float64

In [44]:
a = df.columns[np.where(df.isna().sum() / len(df) * 100 > 20)]
a

Index(['Engine details', 'Power', 'Top speed', 'Bore x stroke', 'Fuel system',
       'Ignition', 'Driveline', 'Frame type', 'Front suspension',
       'Rear suspension', 'Wheels', 'Seat', 'Dry weight', 'Power/weight ratio',
       'Clutch', 'Overall width', 'Comments', 'Exhaust system', 'Compression',
       'Fuel control', 'Lubrication system', 'Weight incl. oil, gas, etc',
       'Overall length', 'Ground clearance', 'Wheelbase', 'Color options',
       'Starter', 'Valves per cylinder', 'Diameter', 'Seat height',
       'Overall height', 'Fuel consumption', 'Greenhouse gases', 'Torque',
       'Rake (fork angle)', 'Front wheel travel', 'Rear wheel travel',
       'Instruments', 'Trail', 'Emission details', 'Factory warranty'],
      dtype='object')

In [27]:
numerical = df.describe()
means = numerical.loc["mean"]
df[numerical.columns] = df[numerical.columns].fillna(means)
df[numerical.columns].isna().sum()

In [33]:
non_numeric = set(a) - set(numerical.columns)
print(len(non_numeric))
len(a)

51

58

**Step 3: Eliminating Redundancies Take a look at the 0-100 column—do we really need speed in two different units?** Let’s clean up this redundancy. Be mindful, though; this might not be the only column with unnecessary duplication.

**Step 4: Duplicates Now**, check for any duplicate records in the dataset. If duplicates are found, remove them to avoid any skewed analysis.

**Step 5: Engine Details Column Examine the Engine Details column carefully.** Will this column be useful in providing insights, or is it redundant or irrelevant to the analysis? Decide whether to keep or drop it.

**Step 6: Preparing for Future Text Processing Torque Titans might explore text processing on some of the data in the future**, so let’s be proactive! We can tokenize the strings in the relevant columns to ensure we’re ready for text analysis down the line. This involves splitting text into individual tokens (words) and storing them for future use.

There are a lot of tokeniser available, note: Torque Titans are potentially looking to integrate with openai.

**Step 7: Designing a Rating System Here comes the fun part—Torque Titans wants to roll out a rating system for their motorcycles!**
You’ll take into account the following factors:

● Speed

● Engine type (feel free to assign weight based on your opinion
of which engines are superior)

● 0-100 acceleration

● Power

● Torque

● Weight

● RPM (you might want to cross-reference with the torque column).

Using these factors, create a new column called Rating, which is scaled from 1 to 4 (no decimals). You don’t need to give all columns equal weight—experiment to find the ideal balance for what you think makes a great motorcycle!

Make sure to normalise the values before considering them for the rating column, as they can add a bias to the calculations, Lets try using MaxAbsScaler and try keep the values between [-1,1]

**By completing these steps, you'll not only ensure that the dataset is ready for insightful analysis but also set the stage for exciting innovations at Torque Titans. Let’s get started and have fun while we shape the future of motorcycles!**